.MainContainerrr{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /*  yeh transform header ke according kiya hai taki content shoiw kar ske only header ko theek karna yeh bhi theek ho jaega */
       transform: translateY(5rem);
    width: 100%;

} 

.Formm{
 
    display: flex;
    height: 12vmax;
    /* background-color: brown; */
    background-color: rgba(245, 233, 147, 0.2);
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* transform: translateY(-50px); */

}
.summarytag {
    text-decoration: none;
    color: black;
    
}
.summarybtn{
    margin-left: 2px;
    /* background-color: beige; */
    position: relative;
    /* transform: translateX(6.3rem); */
    width: 140px;
}


.Formm button{
    margin-left: 5px;
    padding: 1px;
    cursor: pointer;
}


.Formm .textt
{
    display: block;
    color: black;
    font-size: larger;
}

.Formm .inputt input{
    font-size: medium;
    padding: 2px;
}

@media screen and ( max-width : 800px) {
    .Formm .textt
  {
    display: block;
    color: black;
    font-size: medium;
    }

    .Formm .inputt  {
        font-size: small;
    }
}

@media screen and ( max-width : 550px) {
    .Formm .textt
  {
    display: block;
    color: black;
    font-size: small;
    }

    .Formm  input {
        font-size: x-small;
        width: 90px;
    }
}

@media screen and ( max-width : 620px) and ( min-width :550px)  {
    .Formm .textt
  {
    display: block;
    color: black;
    font-size: small;
    }
    .Formm {
        height: 15vw;
    }

    .Formm .inputt input {
        font-size: small;
        width: 90px;
    }

}






@media screen and ( min-width : 900px) {
    .Formm .textt
  {
    display: block;
    color: black;
    font-size: x-large;
    }

    .Formm .inputt {
        font-size: x-large;
        
    }
}



/* from here we are defining the properties of the details of the student */

.StudentDetailsContainer{
    margin-bottom: 100px;
}
.StudentDetailsContainer .container{
    margin-top: 5vw;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:  60vw;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #adb5bd;
    border-radius: 2px;
}

.StudentDetailsContainer .container #entity{
    font-size: medium;
    margin: 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ced4da;
}

@media screen and ( max-width : 650px) {
    .StudentDetailsContainer .container #entity{
        font-size: medium;
        margin: 8px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    
}

