.Footer {
    background-color: #03263c;
    width: 100vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer .FooterText {
    color: #fff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: min(16px, 2vw);
    font-style: normal;
    font-weight: 600;
    text-align: center;
}
