.Header {
    display: flex;
    flex-direction: column;
    height: min(30vh, 30vw);
    width: 100vw;
}

.picicons {
    background-color: #631012;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}
.LOGO {
    display: flex;
    align-items: center;
}
.LOGO h1 {
    font-size: min(2.5rem, 2.5vw);
    color: white;
    font-weight: 500;
    margin-left: 20px;
}
.LOGO div {
    font-size: min(1.5rem, 1.5vw);
    text-align: center;
}
.picicons img {
    width: min(250px, 25vw);
    height: min(250px, 25vw);
    padding: min(50px, 2vw);
    object-fit: cover;
}

.headingicons svg {
    width: min(30px, 3vw);
    height: min(30px, 3vw);
}

.quicklinks {
    background-color: #03263c;
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 5px;
    padding-right: 20px;
    font-size: min(16px, 1.7vw);
}
.quicklinks a {
    text-decoration: none;
    color: white;
}

.quicklinks a:visited {
    color: white;
    text-decoration: none;
}
