.inpcon {
    position: relative;
    margin-top: 30px;
}

.inp {
    width: min(50vw, 500px);
    font-size: min(16px, 2vw);
    text-align: center;
    border-radius: 6px;
    padding: 15px;
}

.inpcon label {
    background-color: white;
    position: absolute;
    left: 1vw;
    top: -20%;
    font-size: min(20px, 3vw);
    margin: 0 10px;
}
