.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40vmax;
    margin:  auto;
    padding: 20px;
    height: 45vh;
    /* border-radius: 20px; */
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: rgba(236, 231, 193, 0.25);
    /* background-color: #ece7c1; */
    
  } 
  
  .login-form {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
  }
  .inpcon{
    position: relative;
    margin-top: 2vmax;
     justify-content: center;
}
.inpcon label{
  position: absolute;
  /* left:1.4vw; */
  left: 2.4vw;
  top:-1.8vh;
  margin:1vh;
  font-size: 1vw;
  background-color: white;
  z-index: 1;
  
  
  
}

.inpcon input{
  position: relative;
  width: 25vw;
 
  height: 3vw;
  z-index: 0;
  text-align: center;
  overflow: hidden;
}
/* @media (min-width:320px) and  (max-width:700px) {
  .inpcon input{
    width: 5vmax;
  }
} */
  
  label {
    margin-bottom: 5px;
    font-size: 1.3vmax;
  }
  .input ::placeholder{
    font-size: 0.5vmax;
  }
  
  input {
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    margin-left: 3vw;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .login-container h1{
    font-size: 2.5vmax;
    text-align: center;
  }
  /* .opt{
    display: flex;
    justify-content: center;
    margin-top: 1.4vw;
    position: relative;
  } */
  .formbuttons
  {
    display: flex;
    margin-top: 3vw;
    gap: 10vw;
    height: 3vw;
    align-items: center;

  }
  .formbuttons #submitbutton
  {
    padding: 0.8vw;
    background-color: #03263c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     height: 3vw; 
     width: 8vw;
    font-size: 1.2vw;
    text-decoration: underline;
    /* flex-shrink: 0; */
  }
  #submitbutton svg {
    vertical-align: middle;
    margin-right: 0.5vw; 
  }
  
  @media (min-width:320px) and (max-width:700px){
 .formbuttons{
  margin-top: 10vw;
  
 }
    .formbuttons #submitbutton{
    padding: 0.5vmax;
      height: 3.5vmax;
     width: 10vmax;
      font-size: 2vmax;
    }
    /* .formbuttons #resetbutton{
      padding: 0.5vmax;
      height: 3.5vmax;
     width: 10vmax;
      font-size: 5vmax;
    } */
  }
  .formbuttons #resetbutton
  {
    padding: 0.8vw;
    width: 8vmax;
    font-size: 1.1vw;
    text-decoration: underline;
    background-color:white ;
    color: #03263C;
    border-radius: 5px;
height: 3vw;
text-decoration: underline;
flex-shrink: 0;

  }
 @media (min-width:320px) and  (max-width:700px){
   .formbuttons #resetbutton{
      padding: 0.5vmax;
      height: 3.5vmax;
     width: 10vmax;
      font-size: 1.5vmax;
    } 
 }
 
  @media (min-width:320px) and  (max-width:700px) {
    /* .inpcon input{
      width: 5vmax;
    } */
    .login-container label{
        top:-1.5vh;
        font-size: 1.5vmax;

    }
}
/* @media (min-width:650px) {
    .login-container label{
        top:-2.2vh;
     
    }

} */
.login-container input{
  width: 261.096px;
height: 46px;
flex-shrink: 0;
}


   