.mainform {
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
}
.headline {
    gap: 4px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #363636;
    font-family: Poppins;
    font-size: 1.8vmax;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 55vw;
    border-radius: 14px;
    background: rgba(231, 225, 178, 0.8);
    margin-top: 5vh;
    height: 7vh;
}

.details p {
    position: relative;
    font-size: 1.5vmax;
}

.details .check {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 2px;
}
.details .check input {
    height: 2.5vw;
    width: 2vw;
}
.details .opt p {
    position: relative;
    font-size: 0.8vmax;
}

.details .opt label {
    position: relative;
    font-size: 1.3vw;
}

.userform {
    margin-top: 4vw;
    width: 55vw;
    display: flex;
    flex-direction: column;
    /* height: 80vh; */
}
.userform label {
    background-color: white;
    position: absolute;
    left: 1vw;
    top: -1.3vh;
    font-size: 1.2vw;
    margin: 1vh;
}
.inpcon {
    position: relative;
    margin-top: 2vmax;
}
/* .userform .timestamp {
    display: flex;
} */

.upload {
    margin-top: 1.3vw;
    font-size: 1.4vw;
}

#checkboxx {
    margin-right: 1vw;
}
.headingg {
    font-size: 1.5vmax;
    margin-top: 1.5vw;
    /* margin-bottom: -2.5vw; */
}

#uploadcopy {
    /* background-color: antiquewhite;
    padding: 1.4vw;
    width: 19vw;
    height: 3vw;
    font-size: 1vw; */
    width: 9vw;
    font-size: 1.1vw;
    text-decoration: underline;
    background-color: #03263c;
    color: white;
    border: none;
    border-radius: 0.3vw;
    height: 3.1vw;
    flex-shrink: 0;
}
.selectopt select {
    width: 24vw;
    margin-top: 0.9vw;
    font-size: 1.2vw;
}

.userform .inp {
    width: 55vw;
    height: 2.8vmax;
    font-size: 1.2vmax;
    padding: 0.4vw;
    text-align: center;
}

.formbuttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vw;
    gap: 10vw;
    height: 3vw;
    align-items: center;
    /* justify-content: center; */
}
.formbuttons #registerbutton {
    /* background-color: antiquewhite;
    padding: 1.4vw;
    width: 19vw;
    height: 3vw;
    font-size: 1vw; */
    /* width: auto; */
    /* font-size: 10px; */
    text-decoration: underline;
    background-color: #03263c;
    color: white;
    border: none;
    border-radius: 5px;
    /* height: 20px; */
    padding: 8px 15px;
    flex-shrink: 0;
}

.formbuttons #resetbutton {
    /* width: 70px; */
    /* font-size: 10px; */
    text-decoration: underline;
    background-color: white;
    color: #03263c;
    border-radius: 5px;
    /* height: 20px; */
    padding: 8px 10px;
    flex-shrink: 0;
}

.userform input {
    width: 261.096px;
    height: 46px;
    flex-shrink: 0;
}

.twodots {
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    position: relative;
    width: 42vw;
    align-items: center;
}

.twodots img {
    width: 4vw;
    position: absolute;
}

.twodots .lineconnect {
    width: 41vw;
    height: 1vh;
    background-color: #0f7fc5;
}

.twodots #imgone {
    left: 0;
}
.twodots #imgtwo {
    right: 0;
}
@media (min-width: 320px) and (max-width: 700px) {
    .details p {
        font-size: 1.5vmax;
    }
    .details .opt label {
        font-size: 1.2vmax;
    }
    .details .opt p {
        position: relative;
        font-size: 0.8vmax;
    }
}
@media (min-width: 320px) and (max-width: 700px) {
    .upload .text,
    .formbuttons #registerbutton,
    .formbuttons #resetbutton {
        font-size: 1.2vmax;
    }
    .upload button {
        font-size: 1vmax;
    }
}

@media (min-width: 330px) and (max-width: 550px) {
    .userform label {
        top: -1vh;
    }
}
@media (min-width: 650px) {
    .userform label {
        top: -2.2vh;
    }
}

@media (min-width: 330px) and (max-width: 550px) {
    .twodots .lineconnect {
        width: 41vw;
        height: 0.5vh;
        /* background-color: black; */
    }
}

@media (max-width: 650px) {
    .headingg {
        margin-top: 1vw;
        margin-bottom: -2vw;
        font-size: 2.5vw;
    }
    .opt {
        margin-bottom: 1vw;
    }
}
@media (min-width: 320px) and (max-width: 700px) {
    .headline {
        font-size: 2vw;
    }
}
