.Footer{
    background-color: #03263C;;
    /* position: fixed; */
    /* margin-top: 10vw; */
  bottom: 0;
    width: 100vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.FooterText{
    color: #FFF;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 1.5vw;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
}

